<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taller3_movil"
        tools:targetApi="31">

        <!-- Actividad de inicio de sesión (LoginActivity) -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Taller3_movil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de registro (RegisterActivity) -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.Taller3_movil">
        </activity>

        <!-- Actividad de mapa (MapActivity) -->
        <activity
            android:name=".activities.MapActivity"
            android:exported="false"
            android:theme="@style/Theme.Taller3_movil">

        </activity>

        <!-- Actividad de lista de usuarios (UserListActivity) -->
        <activity
            android:name=".activities.UsersListActivity"
            android:exported="false"
            android:theme="@style/Theme.Taller3_movil">
        </activity>

        <!-- Actividad de lista de ubicacion de usaurio (UserLocationActivity) -->
        <activity
            android:name=".activities.UserLocationActivity"
            android:exported="false"
            android:theme="@style/Theme.Taller3_movil">
        </activity>

        <!--  Service -->
        <service android:name=".services.UserAvailabilityService" android:enabled="true" android:exported="false"/>

    </application>

</manifest>